@(users: List[Users], usersForm: Form[String])

@import helper._

@main("Todo list") {
    <h1>TODO List</h1>
    <h3>@users.size users(s)</h3>
    Users
    <div class="row">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Login
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @users.map { user =>
                    <tr>
                        <td>
                            @user.id
                        </td>
                        <td>
                            @user.email
                        </td>
                        <td>
                            @user.login
                        </td>
                        <td>
                            @user.password
                        </td>
                        <td>
                            <a class="" href="@routes.Application.userTasksForms(user.login)">Tareas</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
    </div>
}